@font-face {
  font-family: Noto Sans Display;
  src: url("./assets/NotoSansDisplay.ttf");
  font-display: swap
}

@font-face {
  font-family: Noto Sans Mono;
  src: url("./assets/NotoSansMono.ttf");
  font-display: swap
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

:root {
  font-family: Noto Sans Display,Arial,sans-serif;
  font-weight: 500;
  color-scheme: light dark;
  color: #FDF4EF;
  background-color: #2c3343;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}


body {
  margin: 0;
  display: flex;
  min-height: 100vh
}


