:root {
  --text: #d3d3d3;
  --background: #16151a;
  --main: #282226;
  --main-accent: #3e2d2e;
  --second: #533e37;
  --second-accent: #554f42;
}

@font-face {
  font-family: Noto Sans Display;
  src: url("./assets/NotoSansDisplay.ttf");
  font-display: swap
}

@font-face {
  font-family: Noto Sans Mono;
  src: url("./assets/NotoSansMono.ttf");
  font-display: swap
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

:root {
  font-family: Noto Sans Display, Arial, sans-serif;
  color-scheme: light dark;
  color: #FDF4EF;
  background: linear-gradient(var(--main), var(--background) 40%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}


body {
  margin: 0;
  display: flex;
  min-height: 100vh
}


